<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @hello %>></h1>
<p>
  <%= @welcome %>
  <br>
  <%= @account %>
  <br>
  <%= @password %>
  <br>
  <a href="https://linklab.herokuapp.com/vi/users/sign_in" class="nav-link">
    <%= @login_text %>
  </a>
</p>
</body>
</html>