<%= form_for(@test_type, :url => (@test_type.new_record? ? admin_data_management_test_types_path : admin_data_management_test_type_path(@test_type))) do |f| %>
  <div class="card-body">
<!--    <div class="form-group">-->
<!--      <label for="en_name"><%#= t('testTypes.fields.en_name') %></label>-->
      <%#= f.text_field :en_name, class: "form-control", id: "en_name", placeholder: t('testTypes.fields.en_name') %>
      <%# @test_type.errors.full_messages_for(:en_name).each do |message| %>
<!--        <div class="text-danger"><%#= message %></div>-->
      <%# end %>
<!--    </div>-->
    <div class="form-group">
      <label for="vi_name"><%= t('test_types.fields.vi_name')  %></label>
      <%= f.text_field :vi_name, class: "form-control", id: "vi_name", placeholder: t('test_types.fields.vi_name') %>
      <% @test_type.errors.full_messages_for(:vi_name).each do |message| %>
        <div class="text-danger"><%= message %></div>
      <% end %>
    </div>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary">
      <%= @test_type.new_record? ? t('button.new_btn') : t('button.edit_btn') %>
    </button>
    <%= link_to t('button.cancel_btn'), admin_data_management_test_types_path, class: "btn btn-danger"%>
  </div>
<% end %>