
<div class="content container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <%= t('test_types.name') %>
            </h3>
            <div class="card-tools">
              <%= link_to t('test_types.new_button'), new_admin_data_management_test_type_url, class: "btn btn-primary"%>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th style="width: 10px">#</th>
<!--                <th>-->
                  <%#= t('testTypes.fields.en_name') %>
<!--                </th>-->
                <th>
                  <%= t('test_types.fields.vi_name') %>
                </th>
                <th>
                  <%= t('test_types.fields.action') %>
                </th>
              </tr>
              </thead>
              <tbody>
              <% @test_types.each do |test_type| %>
                <tr>
                  <td>
                    <%= test_type.id %>
                  </td>
<!--                  <td>-->
                    <%#= test_type.en_name %>
<!--                  </td>-->
                  <td>
                    <%= test_type.vi_name %>
                  </td>
                  <td>
                    <%#= link_to "Show", book %>
                    <%= link_to edit_admin_data_management_test_type_path(test_type), class: "btn btn-warning btn-sm" do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                    <%= link_to admin_data_management_test_type_path(test_type), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm"  do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
<!--          <div class="card-footer clearfix">-->
<!--            <ul class="pagination pagination-sm m-0 float-right">-->
<!--              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>-->
<!--              <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--              <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--              <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>-->
<!--            </ul>-->
<!--          </div>-->
        </div>
        <!-- /.card -->

      </div>
    </div>

  </div>
</div>