
<div class="content container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <%= t('posts.name') %>
            </h3>
            <div class="card-tools">
              <%= link_to t('posts.new'), new_admin_lab_management_post_url, class: "btn btn-primary"%>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>
                  <%= t('posts.fields.title') %>
                </th>
                <th>
                  <%= t('posts.fields.image') %>
                </th>
                <th>
                  <%= t('posts.fields.short_content') %>
                </th>
                <th>
                  <%= t('posts.fields.created_by') %>
                </th>
                <th>
                  <%= t('posts.fields.lab') %>
                </th>
                <th>
                  <%= t('posts.fields.action') %>
                </th>
              </tr>
              </thead>
              <tbody>
              <% @posts.each do |post| %>
                <tr>
                  <td>
                    <%= post.id %>
                  </td>
                  <td>
                    <%= post.title %>
                  </td>
                  <td>
                    <%= image_tag(post.image.url, alt: 'Image', class: "profile-post-img") if post.image? %>
                  </td>
                  <td>
                    <%= post.short_content %>
                  </td>
                  <td>
                    <%= post.short_content %>
                  </td>
                  <td>
                    <%#= post.role %>
                    <%#=  User.human_enum_name(:roles, User.roles.key(post.role)) %>
                  </td>
                  <td>
                    <%#= link_to "Show", book %>
                    <%= link_to edit_admin_lab_management_post_path(post), class: "btn btn-warning btn-sm" do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                    <%= link_to admin_lab_management_post_path(post ), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm"  do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <!--          <div class="card-footer clearfix">-->
          <!--            <ul class="pagination pagination-sm m-0 float-right">-->
          <!--              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>-->
          <!--              <li class="page-item"><a class="page-link" href="#">1</a></li>-->
          <!--              <li class="page-item"><a class="page-link" href="#">2</a></li>-->
          <!--              <li class="page-item"><a class="page-link" href="#">3</a></li>-->
          <!--              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>-->
          <!--            </ul>-->
          <!--          </div>-->
        </div>
        <!-- /.card -->

      </div>
    </div>

  </div>
</div>