<%= form_for(@user, :url => (@user.new_record? ? admin_doctors_path : admin_doctor_path(@user))) do |f| %>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="name"><%= t('doctors.fields.name') %></label>
          <%= f.text_field :username, class: "form-control", id: "name", placeholder: t('doctors.fields.name') %>
          <% @user.errors.full_messages_for(:name).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
        <div class="form-group">
          <label for="phone"><%= t('doctors.fields.phone')  %></label>
          <%= f.text_field :phone, class: "form-control", id: "phone", placeholder: t('doctors.fields.phone') %>
          <% @user.errors.full_messages_for(:phone).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="image"><%= t('doctors.fields.image')  %></label>
          <%= f.text_field :image, class: "form-control", id: "image", placeholder: t('doctors.fields.image') %>
          <% @user.errors.full_messages_for(:image).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
        <div class="form-group">
<!--          <label for="lab"><%#= t('doctors.fields.lab')  %></label>-->
          <%#= f.select(:lab_id, @labs.collect {|u| [u.name, u.id]},{ include_blank: t('doctors.fields.null_lab') },{ :class => 'form-control'}) %>
          <%# @user.errors.full_messages_for(:lab_id).each do |message| %>
<!--            <div class="text-danger"><%#= message %></div>-->
          <%# end %>
        </div>
        <div class="form-group">
          <label for="email"><%= t('doctors.fields.email')  %></label>
          <%= f.text_field :email, class: "form-control", id: "email", placeholder: t('doctors.fields.email') %>
          <% @user.errors.full_messages_for(:email).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
        <div class="form-group">
          <label for="address"><%= t('doctors.fields.address')  %></label>
          <%= f.text_field :address, class: "form-control", id: "address", placeholder: t('doctors.fields.address') %>
          <% @user.errors.full_messages_for(:address).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary">
      <%= @user.new_record? ? t('button.new_btn') : t('button.edit_btn') %>
    </button>
    <%= link_to t('button.cancel_btn'), admin_doctors_path, class: "btn btn-danger"%>
  </div>
<% end %>