<%= form_for(@user_test, :url => (@user_test.new_record? ? admin_user_tests_path : admin_user_test_path(@user_test))) do |f| %>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="doctor"><%= t('user_tests.fields.doctor')  %></label>
          <%= f.select(:doctor_id, @doctors.collect {|u| [u.full_name, u.id]},{ include_blank: t('user_tests.fields.null_doctor') },{ :class => 'form-control select2'}) %>
          <% @user_test.errors.full_messages_for(:doctor_id).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>

        <div class="form-group">
          <label for="doctor"><%= t('user_tests.fields.user')  %></label>
          <%= f.select(:user_id, @users.collect {|u| [u.full_name, u.id]},{ include_blank: t('user_tests.fields.null_user') },{ :class => 'form-control select2'}) %>
          <% @user_test.errors.full_messages_for(:user_id).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>

        <div class="form-group">
          <label for="reason"><%= t('user_tests.fields.reason')  %></label>
          <%= f.text_field :reason, class: "form-control", id: "reason", placeholder: t('user_tests.fields.reason') %>
          <% @user_test.errors.full_messages_for(:reason).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>

        <div class="form-group">
          <label for="note"><%= t('user_tests.fields.note')  %></label>
          <%= f.text_field :note, class: "form-control", id: "note", placeholder: t('user_tests.fields.note') %>
          <% @user_test.errors.full_messages_for(:note).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>

        <div class="form-group ">
          <label for="image"><%= t('user_tests.fields.image')  %></label>
          <br>
          <input type="file" name="user_test[image]" class="dropify"
                 data-max-file-size="500K"
                 data-show-remove="true"
                 data-default-file="<%= @user_test.image %>"
                 data-allowed-file-extensions="jpg jpeg png gif svg"/>
          <%= f.file_field :image, id: "image", class: "d-none"%>
          <% @user_test.errors.full_messages_for(:image).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
          <div id="image-data"></div>
        </div>

      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="phone"><%= t('users.fields.phone')  %></label>
          <%= f.text_field :phone, class: "form-control", id: "phone", placeholder: t('users.fields.phone') %>
          <% @user_test.errors.full_messages_for(:phone).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>

        <div class="form-group">
          <label for="address"><%= t('users.fields.address')  %></label>
          <%= f.text_field :address, class: "form-control", id: "address", placeholder: t('users.fields.address') %>
          <% @user_test.errors.full_messages_for(:address).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>

        <div class="form-group">
          <label for="lab_test"><%= t('user_tests.fields.lab_test')  %></label>
          <%= f.select(:lab_test_ids, @lab_tests.collect {|u| [u.name, u.id]}, {}, { :class => 'form-control select2', multiple: true}) %>
          <% @user_test.errors.full_messages_for(:lab_test_ids).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>

        <div class="form-group">
          <label for="total"><%= t('user_tests.fields.total')  %></label>
          <%= f.text_field :total,  class: "form-control", id: "total", placeholder: t('user_tests.fields.total') %>
          <%# @user_test.errors.full_messages_for(:total).each do |message| %>
<!--            <div class="text-danger"><%#= message %></div>-->
          <%# end %>
        </div>

        <div class="form-group">
          <label for="status"><%= t('user_tests.fields.status')  %></label>
          <%= f.select(:test_status, UserTest.statuses.collect {|u| [  UserTest.human_enum_name(:statuses, u[0]),u[1]]}, {  }, { :class => 'form-control select2'}) %>
          <% @user_test.errors.full_messages_for(:test_status).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary" id="btnSubmit">
      <%= @user_test.new_record? ? t('button.new_btn') : t('button.edit_btn') %>
    </button>
    <%= link_to t('button.cancel_btn'), admin_user_tests_path, class: "btn btn-danger"%>
  </div>
<% end %>
