
<div class="content container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <%= t('user_tests.name') %>
            </h3>
            <div class="card-tools">
              <%= link_to t('user_tests.new_user_tests'), new_admin_user_test_url, class: "btn btn-primary"%>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>
                  <%= t('user_tests.fields.user') %>
                </th>
                <th>
                  <%= t('user_tests.fields.image') %>
                </th>
                <th>
                  <%= t('user_tests.fields.reason') %>
                </th>
                <th>
                  <%= t('user_tests.fields.note') %>
                </th>
                <th>
                  <%= t('user_tests.fields.action') %>
                </th>
              </tr>
              </thead>
              <tbody>
              <% @user_tests.each do |user_test| %>
                <tr>
                  <td>
                    <%= user_test.id %>
                  </td>
                  <td>
                    <%#= user_test.user.name %>
                    <%= user_test.full_name if user_test.user_id %>
                  </td>
                  <td>
                    <%= image_tag(user_test.image.url, alt: 'Image', class: "profile-user-img") if user_test.image? %>
                  </td>
                  <td>
                  <%= user_test.reason %>
                  </td>
                  <td>
                    <%= user_test.note %>
                    <%#=  User.human_enum_name(:roles, User.roles.key(user.role)) %>
                  </td>
                  <td>
                    <%#= link_to "Show", book %>
                    <%# if user_test.test_status == 0 %>
                      <%= link_to edit_admin_user_test_path(user_test), class: "btn btn-warning btn-sm" do %>
                        <i class="fas fa-edit"></i>
                      <% end %>
                      <%= link_to admin_user_test_path(user_test), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm"  do %>
                        <i class="fas fa-trash"></i>
                      <% end %>
                    <%# else %>
                      <%= link_to admin_user_test_path(user_test), class: "btn btn-primary btn-sm" do %>
                        <i class="fas fa-eye"></i>
                      <% end %>
                    <%# end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <!--          <div class="card-footer clearfix">-->
          <!--            <ul class="pagination pagination-sm m-0 float-right">-->
          <!--              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>-->
          <!--              <li class="page-item"><a class="page-link" href="#">1</a></li>-->
          <!--              <li class="page-item"><a class="page-link" href="#">2</a></li>-->
          <!--              <li class="page-item"><a class="page-link" href="#">3</a></li>-->
          <!--              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>-->
          <!--            </ul>-->
          <!--          </div>-->
        </div>
        <!-- /.card -->

      </div>
    </div>

  </div>
</div>