<%= form_for(@post, :url => (@post.new_record? ? admin_posts_path : admin_post_path(@post))) do |f| %>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="title"><%= t('posts.fields.title') %></label>
          <%= f.text_field :title, disable: true, class: "form-control disable", id: "title", placeholder: t('posts.fields.title') %>
          <% @post.errors.full_messages_for(:title).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
        <div class="form-group">
          <label for="short_content"><%= t('posts.fields.short_content') %></label>
          <%= f.text_field :short_content, class: "form-control", id: "short_content", placeholder: t('posts.fields.short_content') %>
          <% @post.errors.full_messages_for(:short_content).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
        <div class="form-group">
          <label for="full_content"><%= t('posts.fields.full_content')  %></label>
          <%= f.text_field :full_content, class: "form-control", id: "full_content", placeholder: t('posts.fields.full_content') %>
          <% @post.errors.full_messages_for(:full_content).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group ">
          <label for="image"><%= t('posts.fields.image')  %></label>
          <br>
          <input type="file" name="post[image]" class="dropify"
                 data-max-file-size="500K"
                 data-show-remove="true"
                 data-default-file="<%= @post.image %>"
                 data-allowed-file-extensions="jpg jpeg png gif svg"/>
          <%= f.file_field :image, id: "image", class: "d-none"%>
          <% @post.errors.full_messages_for(:image).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
          <div class="form-group">
            <label for="lad"><%= t('labs.fields.lab')  %></label>
            <%= f.select(:lab_id, @labs.collect {|u| [u.name, u.id]},{ include_blank: t('user.fields.null_lab') },{ :class => 'form-control select2'}) %>
            <% @post.errors.full_messages_for(:lab_id).each do |message| %>
              <div class="text-danger"><%= message %></div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary" id="btnSubmit">
      <%= @post.new_record? ? t('button.new_btn') : t('button.edit_btn') %>
    </button>
    <%= link_to t('button.cancel_btn'), admin_posts_path, class: "btn btn-danger"%>
  </div>
<% end %>

