
<div class="content container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <%= t('users.name') %>
            </h3>
            <div class="card-tools">
              <%= link_to t('users.new'), new_admin_user_url, class: "btn btn-primary"%>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>
                  <%= t('users.fields.username') %>
                </th>
                <th>
                  <%= t('users.fields.image') %>
                </th>
                <th>
                  <%= t('users.fields.email') %>
                </th>
                <th>
                  <%= t('users.fields.role') %>
                </th>
                <th>
                  <%= t('users.fields.action') %>
                </th>
              </tr>
              </thead>
              <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <%= user.id %>
                  </td>
                  <td>
                    <%= user.username %>
                  </td>
                  <td>
                    <%= image_tag(user.image.url, alt: 'Image', class: "profile-user-img") if user.image? %>
                  </td>
                  <td>
                  <%= user.email %>
                  </td>
                  <td>
                    <%#= user.role %>
                    <%=  User.human_enum_name(:roles, User.roles.key(user.role)) %>
                  </td>
                  <td>
                    <%#= link_to "Show", book %>
                    <%= link_to edit_admin_user_path(user), class: "btn btn-warning btn-sm" do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                    <%= link_to admin_user_path(user ), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm"  do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <!--          <div class="card-footer clearfix">-->
          <!--            <ul class="pagination pagination-sm m-0 float-right">-->
          <!--              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>-->
          <!--              <li class="page-item"><a class="page-link" href="#">1</a></li>-->
          <!--              <li class="page-item"><a class="page-link" href="#">2</a></li>-->
          <!--              <li class="page-item"><a class="page-link" href="#">3</a></li>-->
          <!--              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>-->
          <!--            </ul>-->
          <!--          </div>-->
        </div>
        <!-- /.card -->

      </div>
    </div>

  </div>
</div>