
<div class="content container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <%= t('rawTests.name') %>
            </h3>
            <div class="card-tools">
              <%= link_to t('rawTests.new_button'), new_admin_raw_test_url, class: "btn btn-primary"%>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th><%= t('rawTests.fields.name') %></th>
                <th><%= t('rawTests.fields.note') %></th>
                <th><%= t('rawTests.fields.test_type') %></th>
                <th><%= t('rawTests.fields.cost') %></th>
                <th><%= t('rawTests.fields.tax') %></th>
                <th><%= t('rawTests.fields.action') %></th>
              </tr>
              </thead>
              <tbody>
              <% @raw_tests.each do |raw_test| %>
                <tr>
                  <td>
                    <%= raw_test.id %>
                  </td>
                  <td>
                    <%= raw_test.name %>
                  </td>
                  <td>
                    <%= raw_test.note %>
                  </td>
                  <td>
                    <%= raw_test.test_type.vi_name %>
                  </td>
                  <td>
                    <%= raw_test.cost %>
                  </td>
                  <td>
                    <%= raw_test.tax %>
                  </td>
                  <td>
                    <%#= link_to "Show", book %>
                    <%= link_to edit_admin_raw_test_path(raw_test), class: "btn btn-warning btn-sm" do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                    <%= link_to admin_raw_test_path(raw_test), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" do %>
                      <i class="fas fa-trash"></i>
                  <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
<!--          <div class="card-footer clearfix">-->
<!--            <ul class="pagination pagination-sm m-0 float-right">-->
<!--              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>-->
<!--              <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--              <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--              <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>-->
<!--            </ul>-->
<!--          </div>-->
        </div>
        <!-- /.card -->

      </div>
    </div>

  </div>
</div>